<ion-view hide-nav-bar="true" id="view-slide">
    <ion-slide-box class="slidePicture" auto-play="true" slide-interval="50000" does-continue="true" id="slide-box">
        <ion-slide>
            <img src="img/slide_one.jpg" alt="引导图1">
        </ion-slide>
        <ion-slide>
            <img src="img/slide_two.jpg" alt="引导图2">
        </ion-slide>
        <ion-slide>
            <a href="#/home" class="button button-calm">立即体验</a>
            <img src="img/slide_three.jpg" alt="引导图3">
        </ion-slide>
    </ion-slide-box>
</ion-view>