<ion-view view-title="我的优惠券" class="coupons">
    <ion-content>
        <form>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">验证优惠券:</span>
                    <input type="text" placeholder="请填写优惠券卡号">
                </label>
                <button class="button button-small button-block button-outline button-assertive">
                    验证
                </button>
            </div>

        </form>
    </ion-content>
</ion-view>