<ion-view view-title="礼品卡使用规则">
    <ion-content class="rules" overflow-scroll="true">
        礼品卡使用规则：<br> 1、如何支付：
        <br> 在进入结算中心-提交订单页面，点击“使用礼品卡”，出现填写框后，选 择可用礼品卡或输入卡号和密码，根据系统提示即可完成支付。如您的礼品卡 金额不够支付此订单，请您继续选择余款的支付方式。
        <br> 2、使用规则：
        <br> 1）单张订单只能使用一张礼品卡。
        <br> 2）礼品卡为不记名卡，请您妥善保管，遗失不补。
        <br> 3）礼品卡不得合并，不设找零，不可兑换现金。
        <br> 4）请保证您的礼品卡在有效期内使用，过期即作废。
        <br> 5）请您在使用时注意礼品卡的使用规则，不同的礼品卡使用规则不同。
        <br> 6）使用礼品卡的订单发生退货时，礼品卡支付的部分将退回原礼品卡内， 若原礼品卡有效，可再次使用。 例：300元订单，其中50元使用礼品卡，发生 全单退货时，50元退回原礼品卡中，250元根据您原支付方式退回，若您的原礼 品卡还在有效期内， 您可以再次根据此卡的原使用规则进行订购使用。
        <br> 7）使用礼品卡的订单发生退换货后，如订单金额不满足此礼品卡的使用规 则，则礼品卡不能正常使用，需要客户补足相应的金额，建议使用礼品卡的订 单进行换货处理。 例：300元订单，其中50元使用礼品卡（此礼品卡规则为， 满300元方能使用）， 发生某件100元商品退货，造成原订单金额200元，不符 合使用50元礼品卡的规定， 所以100元的退款只能退100元 -50元（礼品卡的金 额）=50元，当然原礼品卡若在有效期内，您可以再次根据此卡的原使用规则进 行订购使用。 br 8）使用折扣礼品卡购买商品时，所购买商品金额（特惠品金额除外）满足
        条件金额后可方使用。例：（50元礼品卡，满200元可使用），购买A商品199 ，+1元送商品B，如果用户订单只订购A+B=200元，此时礼品卡不可使用，需要 购买其它商品并满200元后方可使用此礼品卡。）
    </ion-content>
</ion-view>