<ion-view view-title="我的礼品卡" class="giftCard">
    <ion-content>
        <form>
            <div class="list coupons">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">验证优惠券:</span>
                    <input type="text" placeholder="请填写优惠券卡号">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">密码:</span>
                    <input type="text" placeholder="请填写优惠券卡号">
                </label>
                <button class="button button-small button-block button-outline button-assertive">
                    验证
                </button>
            </div>
        </form>
        <a ui-sref="tabs.giftCardInstructions">礼品卡使用详细说明>></a>
    </ion-content>
</ion-view>