<div class="detail">
    <img src="../img/detail_4.jpg" alt="">
    <img src="../img/detail_0.jpg" alt="">
    <a href="http://static.d2c.cn/video/vide/maotouying.mp4">
        <img src="../img/detail_3.jpg" alt="">
    </a>
    <img src="../img/detail_1.jpg" alt="">
    <img src="../img/detailPic_1.jpg" alt="banner1">
    <img src="../img/detailPic_2.jpg" alt="banner2">
    <img src="../img/detailPic_3.jpg" alt="banner3">
    <img src="../img/detailPic_4.jpg" alt="banner4">
    <img src="../img/detailPic_5.jpg" alt="banner5">
    <img src="../img/detailPic_6.jpg" alt="banner6">
</div>