<ion-view view-title="消息中心" class="message">
    <ion-content>
        <ion-list id="view-list">
            <ion-item class="item">
                <div class="row">
                    <div class="col col-20">
                        <div class="ion-chatbox-working"></div>
                    </div>
                    <div class="col col-80">
                        <p>从广州库房发货的订单（自2016年4月22日起）和从上海库房发货的订单（自2016年11月1日起）将提供电子发票，电子发票与纸质发票具有同等法律效力，可以按提示在系统中查询打印，有疑问请咨询客服。</p>
                        <div class="nums">
                            <span>2015/5/4</span>
                            <span>14:21:34</span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item">
                <div class="row">
                    <div class="col col-20">
                        <div class="ion-chatbox-working"></div>
                    </div>
                    <div class="col col-80">
                        <p>由于业务调整，退货流程变更如下： 1.2016年8月22日之日起，将取消上门办理退换货，所有地区需便捷邮寄办理退货； 2.变更后只支持退货不支持换货，流程如下： 阅读退货政策→提交申请→商品寄回→Vancl质检→商品入库 3.商品寄回后，请及时将快递单号填写到退货受理单中。
                        </p>
                        <div class="nums">
                            <span>2015/5/4</span>
                            <span>14:21:34</span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item">
                <div class="row">
                    <div class="col col-20">
                        <div class="ion-chatbox-working"></div>
                    </div>
                    <div class="col col-80">
                        <p>尊敬的客户您好： 由于受杭州G20峰会影响， 8月17日至9月7日杭州市订单施行戒严，物流车辆不允许进入杭州，快递不允许配送，为了不影响您收货将转发邮局配送，在此期间配送时间会有所延迟。</p>
                        <div class="nums">
                            <span>2015/5/4</span>
                            <span>14:21:34</span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-20">
                        <div class="ion-chatbox-working"></div>
                    </div>
                    <div class="col col-80">
                        <p>全场购物满199免运费</p>
                        <div class="nums">
                            <span>2015/5/4</span>
                            <span>14:21:34</span>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>